{% extends 'base.jinja2' %}

{% block content %}
<h1>Viewer sessions</h1>

<table border = 1>
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Playing Time</th>
            <th>Asset Name</th>
            <th>CDN</th>
            <th>Rebuff</th>
            <th>Average Bits</th>
        </tr>
    </thead>
    {% for session_id, session in sessions.items() %}
        <tbody>
            <tr>
                <th><a href="{{ url_for('session_function', session_id=session_id) }}">{{ session['streamUrl'].split('=')[1] }}</a></th>
                <td> {{ session['startTimeMs'] }} </td>
                <td> {{ 'tbd' }} </td>
                <td> {{ 'tbd' }} </td>
                <td> {{ 'tbd' }} </td>
                <td> {{ session['cdn'] }} </td>
                <td> {{ 'tbd' }} </td>
                <td> {{ 'tbd' }} </td>
            </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}