{% extends 'base.jinja2' %}

{% block content %}
<h1>{{ 'Session Details' }}</h1>

<table border = 1>
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Playing Time</th>
            <th>CDN</th>
            <th>Rebuff</th>
            <th>Average Bits</th>
            <th>Asset Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> {{ session['streamUrl'].split('=')[1] }} </th>
            <td> {{ start_time }} </td>
            <td> {{ end_time }} </td>
            <td> {{ play_time }} </td>
            <td> {{ session['cdn'] }} </td>
            <td> {{ buff_ratio|string + ' %' }} </td>
            <td> {{ abr|string + ' Mbps' }} </td>
            <td> {{ session['asset'] }} </td>
        </tr>
    </tbody>
</table>

<p>{{ '% complete: ' + session['percentWatched']|string + ' %' }}</p>
<p>{{ 'Rebuff : ' + buff_ratio|string + ' % out of ' + session['numBuffEvts']|string + ' events.' }}</p>
<p>{{ 'AvgBits: ' + abr|string + ' Mbps' }}</p>
<p>{{ 'VST    : ' + vst|string + ' sec' }}</p>
<p>{{ 'Device Operating System: ' + session['os'] }}</p>
<p>{{ 'Browser Name: ' + session['browser'] }}</p>
<p>{{ 'Stream URL: ' + session['streamUrl'] }}</p>
<p>{{ 'Location: ' + session['city'] + ', ' + session['state'] + ', ' + session['country'] }}</p>
<p>{{ 'ISP & ASN: ' + session['isp'] + ', ' + session['asnName'] }}</p>
<p>{{ 'CDN: ' + session['cdn'] }}</p>
<p>{{ 'IP: ' + session['ip'] }}</p>
<p>{{ 'Session Tags' }}</p>
{% for key, value in tags.items() %}
    <p>{{ key + ': ' + value }}</p>
{% endfor %}
{% endblock %}