{% extends 'base.html' %}

{% block content %}

<div class="lead container-fluid">
  <p>{{ acct }} sessions found for {{ viewer_id }}</p>
</div>

<div class="card-deck bg-light">
  <div class="card">
    <div class="card-header">Total</div>
    <div class="card-body">
      <p class="card-text">
        <span class="text-muted">Assets: </span>{{ len(asset_set) }} |
        <span class="text-muted">Play Duration: </span>{{ play_d }}
      </p>
      <p class="card-text">
        <span class="text-muted">Plays: </span>{{ len(sessions) }} |
        <span class="text-muted">VSF: </span>{{ len(vsfs) }} |
        <span class="text-muted">EBVS: </span>{{ len(ebvs) }} |
        <span class="text-muted">VPF: </span>n/a
      </p>
    </div>
    <div class="card-header">IP<a href="{{ url_for('sessions_func', viewer_id=viewer_id) }}"><small> [All]</small></a></div>
    <div class="card-body">
      <p class="card-text">
        {% for i in ip_p %}
          <small>{{ i[0] }}%
              <span class="text-muted">
                  <a href="{{ url_for('sessions_func', viewer_id=viewer_id, find_by='ip', find=i[1]) }}">
                      {{ i[1] }}
                  </a>
              </span>|
          </small>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Device<a href="{{ url_for('sessions_func', viewer_id=viewer_id) }}"><small> [All]</small></a></div>
    <div class="card-body">
      <p class="card-text">
        {% for i in os_p %}
          <small>{{ i[0] }}%
              <span class="text-muted">
                  <a href="{{ url_for('sessions_func', viewer_id=viewer_id, find_by='os', find=i[1]) }}">
                      {{ i[1] }}
                  </a>
              </span>|
          </small>
        {% endfor %}
      </p>
    </div>
    <div class="card-header">CDN<a href="{{ url_for('sessions_func', viewer_id=viewer_id) }}"><small> [All]</small></a></div>
    <div class="card-body">
      <p class="card-text">
        {% for i in cdn_p %}
          <small>{{ i[0] }}%
              <span class="text-muted">
                  <a href="{{ url_for('sessions_func', viewer_id=viewer_id, find_by='cdn', find=i[1]) }}">
                      {{ i[1] }}
                  </a>
              </span>|
          </small>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Location<a href="{{ url_for('sessions_func', viewer_id=viewer_id) }}"><small> [All]</small></a></div>
    <div class="card-body">
      <p class="card-text">
        {% for i in loc_p %}
          <small>{{ i[0] }}%
              <span class="text-muted">
                  <a href="{{ url_for('sessions_func', viewer_id=viewer_id, find_by='city', find=i[1]) }}">
                      {{ i[1] }}
                  </a>
              </span>|
          </small>
        {% endfor %}
      </p>
    </div>
    <div class="card-header">ISP<a href="{{ url_for('sessions_func', viewer_id=viewer_id) }}"><small> [All]</small></a></div>
    <div class="card-body">
      <p class="card-text">
        {% for i in isp_p %}
          <small>{{ i[0] }}%
              <span class="text-muted">
                  <a href="{{ url_for('sessions_func', viewer_id=viewer_id, find_by='isp', find=i[1]) }}">
                      {{ i[1] }}
                  </a>
              </span>|
          </small>
        {% endfor %}
      </p>
    </div>
  </div>
</div>

<br>

<div class="bg-light container-fluid">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">c3.ri</th>
        <th scope="col">Start T.</th>
        <th scope="col">End T.</th>
        <th scope="col">Play D.</th>
        <th scope="col">Buff. R.</th>
        <th scope="col">ABR</th>
        <th scope="col">CDN</th>
        <th scope="col">OS | Br. </th>
        <th scope="col">Asset</th>
      </tr>
    </thead>
    <tbody>
      {% for session_id, session in sessions.items() if session.get(find_by) == find %}
      <tr>
        <th scope="row">
          <div class="d-flex">
            <div class="btn-group">
              <button type="button" class="btn btn-link">
                <a href="{{ url_for('session_function', viewer_id=viewer_id, session_id=session_id) }}">
                  {{ (session['streamUrl'].split('c3.ri=')[1]) if len(session['streamUrl'].split('c3.ri=')) > 1 else 'no c3.ri' }}
                </a>
              </button>
              <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuLink{{session_id}}"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu min-vw-100" aria-labelledby="dropdownMenuLink{{session_id}}">
                <div class="card-group font-weight-normal">
                <!div class="font-weight-normal d-flex flex-row bd-highlight!">
                  <div class="card border-white">
                    <div class="card-body">
                      <p class="card-text"><span class="text-muted">% complete: </span>{{ (session['percentWatched']|string + ' %') if session['tags']['c3.video.isLive'] == 'F' else 'Linear' }}</p>
                    </div>
                  </div>
                  <div class="card border-white">
                    <div class="card-body">
                      <p class="card-text"><span class="text-muted">VST: </span>{{ (round(session['joinTimeMs'] / 1000, 2))|string + ' sec' }}</p>
                    </div>
                  </div>
                  <div class="card border-white">
                    <div class="card-body">
                      <p class="card-text"><span class="text-muted">VSF: </span>{{ session['isPlayStartFail']|string }}</p>
                    </div>
                  </div>
                </div>
                <div class="card-group font-weight-normal">
                  <div class="card border-white">
                    <div class="card-body">
                      <p class="card-text"><span class="text-muted">Device Operating System:</span><br>{{ session['os'] }}</p>
                      <p class="card-text"><span class="text-muted">Browser Name:</span><br>{{ session['browser'] }}</p>
                      <p class="card-text"><span class="text-muted">Stream URL:</span><br>{{ session['streamUrl'] }}</p>
                      <p class="card-text"><span class="text-muted">Location:</span><br>{{ session['city'] + ', ' + session['state'] + ', ' + session['country'] }}</p>
                      <p class="card-text"><span class="text-muted">ISP & ASN:</span><br>{{ session['isp'] + ', ' + session['asnName'] }}</p>
                      <p class="card-text"><span class="text-muted">CDN:</span><br>{{ session['cdn'] }}</p>
                      <p class="card-text"><span class="text-muted">IP:</span><br>{{ session['ip'] }}</p>
                    </div>
                  </div>
                  <div class="card border-white">
                    <div class="card-body">
                      <p class="card-text"><span class="text-muted">Session Tags:</span></p>
                      {% for key, value in list(session['tags'].items())[::4] %}
                      <p class="card-text"><span class="font-weight-light">{{ key + ":" }}</span><br>{{ value if value else "Unknown" }}</p>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="card border-white">
                    <div class="card-body">
                      <br>
                      <br>
                      {% for key, value in list(session['tags'].items())[1::4] %}
                      <p class="card-text"><span class="font-weight-light">{{ key + ":" }}</span><br>{{ value if value else "Unknown" }}</p>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="card border-white">
                    <div class="card-body">
                      <br>
                      <br>
                      {% for key, value in list(session['tags'].items())[2::4] %}
                      <p class="card-text"><span class="font-weight-light">{{ key + ":" }}</span><br>{{ value if value else "Unknown" }}</p>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="card border-white">
                    <div class="card-body">
                      <br>
                      <br>
                      {% for key, value in list(session['tags'].items())[3::4] %}
                      <p class="card-text"><span class="font-weight-light">{{ key + ":" }}</span><br>{{ value if value else "Unknown" }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td> {{ prettify_date(session['startTimeMs']) }} </td>
        <td> {{ prettify_date(session['startTimeMs'] + session['joinTimeMs'] + session['playTimeMs'] + session['buffTimeMs']) }} </td>
        <td> {{ prettify_time(session['playTimeMs']) }} </td>
        <td> {{ (round(100 * (session['buffTimeMs'] / (session['playTimeMs'] + session['buffTimeMs'])), 2)|string + ' % | ' + session['numBuffEvts']|string) if (session['playTimeMs'] + session['buffTimeMs']) > 0 else 'no playback' }} </td>
        <td> {{ round(session['avgBitrateKbps'] / 1024, 2)|string + ' Mbps' }} </td>
        <td> {{ session['cdn'] }} </td>
        <td> {{ session['os'] + ' | ' + session['browser'] }} </td>
        <td> {{ session['asset'] }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
