{% extends 'base.jinja2' %}

{% block content %}
<h2>{{ acct }} sessions found for {{ viewer_id }}</h2>

<table border = 1>
    <thead>
        <tr>
            <th>Request ID / c3.ri</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Playing Time</th>
            <th>Rebuff</th>
            <th>Average Bits</th>
            <th>CDN</th>
            <th>OS / Browser</th>
            <th>Asset Name</th>
        </tr>
    </thead>
    {% for session_id, session in sessions.items() %}
        <tbody>
            <tr>
                <td><a href="{{ url_for('session_function', session_id=session_id) }}">{{ (session['streamUrl'].split('=')[1]) if len(session['streamUrl'].split('=')) > 1 else 'no c3.ri' }}</a></td>
                <td> {{ prettify_date(session['startTimeMs']) }} </td>
                <td> {{ prettify_date(session['startTimeMs'] + session['joinTimeMs'] + session['playTimeMs'] + session['buffTimeMs']) }} </td>
                <td> {{ prettify_time(session['playTimeMs']) }} </td>
                <td> {{ (round(100 * (session['buffTimeMs'] / (session['playTimeMs'] + session['buffTimeMs'])), 2)|string + ' % | ' + session['numBuffEvts']|string) if (session['playTimeMs'] +
                session['buffTimeMs']) > 0 else 'no playback' }} </td>
                <td> {{ round(session['avgBitrateKbps'] / 1024, 2)|string + ' Mbps' }} </td>
                <td> {{ session['cdn'] }} </td>
                <td> {{ session['os'] + ' | ' + session['browser'] }} </td>
                <td> {{ session['asset'] }} </td>
            </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}